<nav class="ms-5 mb-2 mt-5" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/producto/lista">Inventory</a></li>
    <li class="breadcrumb-item active" aria-current="page">Add</li>
  </ol>
</nav>

<div id="formulario" class="row-mt-10">
  <div class="card col-md-4 mx-auto">
    <div class="card-header">
      <div class="text-header">Add Product</div>
    </div>
    <div class="card-body">
      <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
     
        <div class="image-container">
          <img *ngIf="previewUrl" [src]="previewUrl" alt="Previsualización de la imagen" class="rounded" height="155px" width="155px">
          <img *ngIf="!previewUrl" [src]="imagen" alt=""  class="placeholder-glow image rounded" height="155px" width="155px">
        </div>
        <!--Foto-->
        <div class="custom-file-input">
          <label for="foto">
            Upload Photo <i class="fa-solid fa-file-image"></i>
            <input type="file" id="imagen" name="imagen" accept="image/*" [(ngModel)]="imagen" (change)="onFileChange($event)" required>
          </label>
          <button *ngIf="previewUrl" class="cancel-btn" (click)="cancelNewImage()"><i class="fa-solid fa-delete-left"></i></button>
        </div>
        <!--nombre-->
        <div class="input">
          <input autocomplete="off" type="text" id="nombre" name="nombre" [(ngModel)]="nombreProducto" required>
          <label for="nombre">Product Name</label>
        </div>
        <!--codeBar-->
        <div class="input">
          <input autocomplete="off" type="text" id="codeBar" name="codeBar" [(ngModel)]="codeBar" required>
          <label for="text">Product Code</label>
        </div>
        <!--Cantidad-->
        <div class="input">
          <input autocomplete="off" type="number" id="cantidad" name="cantidad" [(ngModel)]="cantidad" required>
          <label for="number">Quantity</label>
        </div>
        <!--Precio-->
        <div class="input">
          <input autocomplete="off" type="number" id="precio" name="precio" [(ngModel)]="precio" required>
          <label for="number">Price</label>
        </div>
        <!--Categoria-->
        <div class="input">
          <input autocomplete="off" type="text" id="categoria" name="categoria" [(ngModel)]="categoria" required>
          <label for="text">Category</label>
        </div>
        <!--Tipo-->
        <div class="input">
          <input autocomplete="off" type="text" id="tipo" name="tipo" [(ngModel)]="tipo" required>
          <label for="text">Type</label>
        </div>
        <!--selector-->
        <div class="form-group" style="margin-top: 20px; margin-bottom: 20px;">
          <label>Select an Provider:</label>
          <select id="nombreProvedor" name="nombreProvedor" [(ngModel)]="nombreProvedor" required>
            <option value="{{prove.nombreProvedor}}" *ngFor="let prove of proveedores">{{prove.nombreProvedor}}</option>
          </select>
        </div>
        <br>
        <div class="botones" style="display: flex;justify-content: flex-end;">
          <!--Crear-->
          <input type="submit" class="btn" value="Save" id="BootonCrear">
        </div>
      </form>
    </div>
  </div>
</div>
<br>