<nav class="ms-5 mb-2 mt-5" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/empelado/lista">Employees</a></li>
    <li class="breadcrumb-item active" aria-current="page">Add</li>
  </ol>
</nav>

<div id="formulario" class="row-mt-10 ">
  <div class="card col-md-4 mx-auto">
    <div class="card-header">
      <div class="text-header">Add Employee</div>
    </div>
    <div class="card-body">
      <form (ngSubmit)="onCreate()" novalidate #f="ngForm">

        <div class="image-container">
          <img *ngIf="previewUrl" [src]="previewUrl" alt="Previsualización de la imagen" class="rounded-circle" height="155px" width="155px">
          <img *ngIf="!previewUrl" [src]="foto" alt="" class="placeholder-glow image rounded-circle" height="155px" width="155px">
        </div>
        <!--Foto-->
        <div class="custom-file-input">
          <label for="foto">
            Upload Photo <i class="fa-solid fa-file-image"></i>
            <input type="file" id="foto" name="foto" accept="image/*" [(ngModel)]="foto" (change)="onFileChange($event)" required>
          </label>
          <button *ngIf="previewUrl" class="cancel-btn" (click)="cancelNewImage()"><i class="fa-solid fa-delete-left"></i></button>
        </div>

        <!--NombreEmpleado-->
        <div class="input">
          <input autocomplete="off" type="text" id="nombreCliente" name="nombreUsuario" [(ngModel)]="nombreUsuario"
            required>
          <label for="text">User </label>
        </div>

        <!--Edad-->
        <div class="input">
          <input autocomplete="off" type="number" id="edad" name="edad" [(ngModel)]="edad" required>
          <label for="text">Age</label>
        </div>

        <!--Sueldo-->
        <div class="input">
          <input autocomplete="off" type="number" id="sueldo" name="sueldo" [(ngModel)]="sueldo" required>
          <label for="text">Salary</label>
        </div>

        <div class="form-group" style="margin-top: 20px; margin-bottom: 20px;">
          <label>Select an Turn:</label>
          <select id="roles" name="roles" [(ngModel)]="turno" required>
            <option value="Matutino">Morning</option>
            <option value="Vespertino">Evening</option>
          </select>
        </div>

        <!--Email-->
        <div class="input">
          <input autocomplete="off" type="email" id="email" name="email" [(ngModel)]="email" required>
          <label for="text">Email</label>
        </div>

        <!--Telefono-->
        <div class="input">
          <input autocomplete="off" type="number" id="telefono" name="telefono" [(ngModel)]="telefono" required>
          <label for="text">Phone</label>
        </div>

        <!--Password-->
        <div class="input">
          <input autocomplete="off" type="password" id="password" name="password" [(ngModel)]="password" (ngModelChange)="evaluarPassword($event)"
            required>
          <label for="text">Password </label>
          <div class="password_requeriment">
            <p class="password_requeriment__level_text">Level: <strong id="password_requeriment__level">Empty</strong> </p>
            <p><strong>Your password must contain:</strong></p>

            <div class="password_requeriment__requeriments">
              <div id="requeriment_1">
                <i class="fa-solid fa-xmark"></i> <p>Minimum number of characters is 6.</p>
              </div>
              <div id="requeriment_2">
                <i class="fa-solid fa-xmark"></i> <p> Should contain lowercase. </p>
              </div>
              <div id="requeriment_3">
               <i class="fa-solid fa-xmark"></i> <p> Should contain uppercase. </p>
              </div>
              <div id="requeriment_4">
                <i class="fa-solid fa-xmark"></i> <p> Should contain numbers. </p>
              </div>
              <div id="requeriment_5">
                <i class="fa-solid fa-xmark"></i> <p> Should contain special characters. </p>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group" style="margin-top: 20px;">

          <label>Select an Role:</label>
          <select id="roles" name="roles" [(ngModel)]="roles" required>
            <option value="ROLE_ADMIN">Admin</option>
            <option value="ROLE_INSTRUCTOR">Instructor</option>
            <option value="ROLE_RECEPCIONISTA">Recepcionista</option>
          </select>
        </div>
     
        <div class="botones" style="display: flex;justify-content: flex-end;">
          <!--Crear-->
          <input type="submit" class="btn" value="Save" id="BootonCrear">
        </div>
      </form>
    </div>
  </div>
</div>
<br>