.error-container {
    text-align: center;
    padding: 5rem;
  }
  .error-container h1 {
    color: #a00;
    font-size: 7.5rem;
  }
  .error-container p {
    color: #000;
    font-size: 1.25rem;
  }
  .btn-back {
    background-color: #a00;
    color: #fff;
  }