<div class="content">
  <nav class="ms-5 mt-5" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/login">Login</a></li>
      <li class="breadcrumb-item active" aria-current="page">Sign up</li>
    </ol>
  </nav>


  <section class="h-100 gradient-form">
    <div class="container py-0 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">

                  <form #f="ngForm" novalidate (ngSubmit)="onRegister()">
                    <div class="form-outline mb-4">
                      <input type="text" name="nombreUsuario" id="nombreUsuario" class="form-control" placeholder="Name"
                        [(ngModel)]="nombreUsuario" autocomplete="off" />
                    </div>

                    <div class="form-outline mb-4">
                      <input type="number" name="edad" id="edad" class="form-control" placeholder="Age"
                        [(ngModel)]="edad" autocomplete="off" />
                    </div>

                    <div class="form-outline mb-4">
                      <input type="email" name="email" id="email" class="form-control" placeholder="Email"
                        [(ngModel)]="email" autocomplete="off" />
                    </div>

                    <div class="form-outline mb-4">
                      <input type="tel" name="telefono" id="telefono" class="form-control" placeholder="Phone"
                        [(ngModel)]="telefono" autocomplete="off" />
                    </div>

                    <div class="form-outline mb-4">
                      <input type="password" name="password" id="password" placeholder="Password" [(ngModel)]="password" (ngModelChange)="evaluarPassword($event)"
                        autocomplete="off" required required="required" class="form-control" />
                      <div class="password_requeriment">
                        <p class="password_requeriment__level_text">Level: <strong
                            id="password_requeriment__level">Empty</strong> </p>
                        <p><strong>Your password must contain:</strong></p>

                        <div class="password_requeriment__requeriments">
                          <div id="requeriment_1">
                            <i class="fa-solid fa-xmark"></i>
                            <p>Minimum number of characters is 6.</p>
                          </div>
                          <div id="requeriment_2">
                            <i class="fa-solid fa-xmark"></i>
                            <p> Should contain lowercase. </p>
                          </div>
                          <div id="requeriment_3">
                            <i class="fa-solid fa-xmark"></i>
                            <p> Should contain uppercase. </p>
                          </div>
                          <div id="requeriment_4">
                            <i class="fa-solid fa-xmark"></i>
                            <p> Should contain numbers. </p>
                          </div>
                          <div id="requeriment_5">
                            <i class="fa-solid fa-xmark"></i>
                            <p> Should contain special characters. </p>
                          </div>
                        </div>
                      </div>
                    </div>

                    <br>
                    <div class="text-center pt-1 mb-5 pb-1">
                      <button disabled id="crearCuenta" class="btn btn-primary
                            btn-block fa-lg gradient-custom-2 mb-3" type="button" type="submit">Create Acount</button>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-lg-6 d-flex align-items-center gradient-custom-2">

                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                  <div class="text-center">
                    <img src="../../../../assets/img/logo.jfif" style="width: 185px;" alt="logo">
                    <h4 class="mt-1 mb-5 pb-1">Spartacus</h4>
                  </div>
                  <h4 class="mb-3">Sign Up</h4>
                  <p class="small mb-0">
                    Register and be part of the Spartacus Gym family, achieve your goals, you have evolved your body to
                    the next level</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>