<div class="content">
<nav class="ms-5 mb-2 mt-5" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/nuevaVenta">Sale</a></li>
    <li class="breadcrumb-item active" aria-current="page">Sales</li>
  </ol>
</nav>


  <div class="container mt-4">
    <div class="input-group mb-4">
      <!-- <button class="cssbuttons-io me-5 rounded" id="botonNuevo" routerLink="/nuevaVenta">
        <span><i class='bx bx-arrow-back me-3'></i>
          Return</span>
      </button> -->
      <div class="dropdown">
        <a class="btn btn-lg btn-outline-dark" id="opciones" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          Filter by sales
        </a>

        <div class="dropdown-menu">
          <button class="dropdown-item" [ngClass]="{'active-filter': filtroActual === 'all'}" (click)="getVentas()">
            Show All Sales
          </button>
          <button class="dropdown-item" [ngClass]="{'active-filter': filtroActual === 'today'}" (click)="ventaDiario()">
            Show Sales Today
          </button>
          <button class="dropdown-item" [ngClass]="{'active-filter': filtroActual === 'month'}" data-bs-toggle="modal" data-bs-target="#mes">
            Show Sales By Month
          </button>
          <button class="dropdown-item" [ngClass]="{'active-filter': filtroActual === 'year'}" data-bs-toggle="modal" data-bs-target="#anio">
            Show Sale By Year
          </button>
        </div>
      </div>
    </div>
    <table class="table table-striped">
      <thead id="tablaBg">
        <tr>
          <th scope="col" class="text-center">Products</th>
          <th scope="col">Amount</th>
          <th scope="col">Payment Type</th>
          <th scope="col">Date</th>
          <th scope="col">Total</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody id="buscarTablaVentas">
        <tr *ngFor="let ventas of ventas;let i = index" class="text-capitalize">
          <td class="text-center" scope="col"><button class="btn btn-dark" data-bs-toggle="modal"
              data-bs-target="#VerVenta" (click)="mostrarDetalles(i)"><i class='bx bx-show'></i></button></td>
          <td scope="col">{{ventas.productos.length}}</td>
          <td scope="col">{{ventas.tipoPago}}</td>
          <td scope="col">{{ventas.fecha | date}}</td>
          <td scope="col">$ {{ventas.total.toFixed(2)}}</td>
          <td>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Modal de Ver -->
  <div class="modal fade" id="VerVenta" tabindex="-1" aria-labelledby="Ver" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="VerVenta">Products of {{ventaSeleccionadaModal.fecha | date}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <table class="table table-striped">
            <thead id="tablaBg">
              <tr>
                <th scope="col" class="text-center">Name</th>
                <th scope="col" class="text-center">Sold units</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of ventaSeleccionadaModal.productos">
                <td class="text-capitalize text-center">{{item.nombre}}</td>
                <td class="text-capitalize text-center">{{item.cantidad}}</td>
              </tr>
            </tbody>
          </table>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="BotonCrear" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- Modal para Seleccionar Mes -->
  <div class="modal fade" id="mes" tabindex="-1" aria-labelledby="mes" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="mes">Show Cut By Month</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="">
            <label class="form-label">Month</label>
            <input type="month" placeholder="Mes" class="form-control" [(ngModel)]="mes"
              [ngModelOptions]="{standalone: true}">
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="BotonCrear" (click)="ventaMensual()"
            data-bs-dismiss="modal">Search</button>
          <button type=" button" class="btn btn-danger noselect" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal para Seleccionar Año -->
  <div class="modal fade" id="anio" tabindex="-1" aria-labelledby="anio" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="anio">Show Cut By Year</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="">
            <label class="form-label">Year</label>
            <input type="number" placeholder="Año" class="form-control" [(ngModel)]="anio"
              [ngModelOptions]="{standalone: true}" min="0">
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="BotonCrear" (click)="ventaAnual()"
            data-bs-dismiss="modal">Search</button>
          <button type=" button" class="btn btn-danger noselect" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>