<h1 class="mt-2" style="text-align: center">Class Details</h1>

<nav class="ms-5 mb-2" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/clase/lista">Classes</a></li>
    <li class="breadcrumb-item active" aria-current="page">Details</li>
  </ol>
</nav>

<div class="employee-container">
  <div class="employee-card">
    <div class="titulobello">
      <h1>{{ listClases.nombreClase }}</h1>
    </div>
    <img src="{{ listClases.fotoClase }}" class="img-fluid placeholder-glow image rounded" width="320px" height="220px"
      style="margin-top: 40px" />
  </div>
  <div class="employee-card2">
    <strong>Description</strong>
    <p>{{ listClases.descripcion }}</p>
    <p><b>Price: </b>{{ listClases.costo }}</p>
    <p style="text-transform: capitalize;"><b>Instructor: </b>{{ listClases.nombreInstructor }}</p>
    <p><b>Date: </b>{{ listClases.fecha | date}}</p>
    <p><b>Time: </b>{{ listClases.hora }}</p>
    <p><b>Quota: </b>{{ listClases.cupo }}</p>
  </div>
</div>

<!--Lista de Clientes Inscritos en la Clase-->

<ng-container *ngIf="listClientes.length == 0; else tablaCl">
  <h3 style="text-align: center">There are no clients in this class</h3>
</ng-container>
<ng-template #tablaCl>
  <div style="margin-bottom: 8%">
    <h3 style="text-align: center">Clients Enrolled in Class</h3>
    <br />
    <br />
    <!--tabla-->
    <div class="table-responsive">
      <table class="table table-borderless table-hover" style="text-align: center">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Phone</th>
            <th scope="col">Suscription</th>
          </tr>
        </thead>
        <tr *ngFor="let customer of listClientes">
          <td>{{customer.nombreCliente}}</td>
          <td>{{customer.edad}}</td>
          <td>{{customer.telefono}}</td>
          <td>{{customer.subcripcion | currency}}</td>
        </tr>
      </table>
    </div>
    <br />
  </div>
</ng-template>