@import url('https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@300;400;700&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@1,300&display=swap');

/* font-family: 'Koh Santepheap', serif;
font-family: 'Nunito', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

.Home__Body {
  width: 100%;
  height: 1070px;
}

.home__Body_Gif_Container {
  width: 100%;
  height: 1070px;
}

.home__Body_Gif {
  position: relative;
}

.home__Body_Gif__Filtro {
  position: absolute;
  width: 100%;
  height: auto;
  background-color: rgba(82, 82, 82, 0.075);
  z-index: 10;
}

.home__Body_Gif__Gif {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 0;
}

.home__Body_Gif__Content {
  position: absolute;
  left: 110px;
  top: 170px;
  z-index: 20;

  width: 200px;
  height: 200px;
}

.home__Body_Gif__Content__Marco {
  border: 1px white solid;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
}

.home__Body_Gif__Content__SubTitulo {
  color: white;
  font-weight: bold;
  font-size: 30px;
  margin: 10px 5px;
}

.home__Body_Gif__Content__Titulo {
  width: 600px;
}

.home__Body_Gif__Content__Titulo_Text {
  color: white;
  font-weight: bold;
  font-size: 65px;
}

.btn_Red {
  border: 0px;
  border-radius: 5px;
  width: 262px;
  font-weight: bold;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #E41A0B;
  color: white;
  transition: 0.2s;
}

.btn_Red:hover {
  background-color: white;
  color: #E41A0B;
}




#carrusel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 100%;
  background-color: #424242;
}





.home__Body__Content {
  width: 100%;
  height: 750px;
}

.home__Body__Content_container {
  position: relative;
  height: auto;
}

.home__Body__Content__Img {
  position: absolute;
  width: 100%;
  height: 950px;
  top: 0px;
  z-index: -5;
  clip-path: inset(0px 0px 100px 0px);
}

.home__Body__Content__Img_Filtro {
  position: absolute;
  width: 100%;
  height: 850px;

  /* background-color: #c581025e; */
  background-color: rgba(0, 0, 0, 0.726);
}

.Content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  right: 0;
  left: 0;
}

.Content__Pilares {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 65%;
  flex-direction: row;
}

.home__Body__Content__Pilar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home__Body__Content__Img__Titulo {
  color: white;
  margin: 130px 80px;
  z-index: 10;
  font-weight: bold;
  font-size: 75px;
}

.Content_Pilar_Icono {
  color: #ffffff;
  font-size: 75px;
  z-index: 10;
}

.home__Body__Content__Pilar_Titulo,
.home__Body__Content__Pilar_texto {

  text-align: center;
  color: #ffffff;
  z-index: 10;
  margin: 10px 5px;
  font-family: 'Raleway', sans-serif;
}

.home__Body__Content__Pilar_Titulo {
  font-size: 45px;
  font-weight: bold;
}

.home__Body__Content__Pilar_texto {
  font-size: 18px;
}




.Home__Body__Comienza {
  width: 100%;
  height: 715px;
}

.home__Body__Content__container {
  width: 100%;
  height: 715px;
  position: relative;
  overflow: hidden;
}

.home__Body__Content__container_img {
  width: 100%;
  height: 1015px;
  position: absolute;
  z-index: -10;
}

.home__Body__Comienza__Img_Filtro {
  position: absolute;
  top: 100px;
  width: 100%;
  height: 715px;
  background-color: #e4190b7e;
}

.Body__Content__container__content {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  left: 25%;
  right: 25%;
  top: 50%;
  bottom: 40%;
}

.Body__Content__container__content_titulo,
.Body__Content__container__content_text {
  color: white;
  text-align: center;
}

.Body__Content__container__content_text {
  font-size: 35px;
  font-weight: lighter;
}

.Body__Content__container__content_titulo {
  font-size: 95px;
  font-weight: bold;
}

.btn_Red_outline {
  padding: 10px 40px;
  border: 1px solid white;
  background-color: #e4190b00;
  color: white;
  font-size: 40px;
  transition: 0.4s;
}

.btn_Red_outline:hover {
  border: 2px solid #E41A0B;
  background-color: white;
  color: #E41A0B;
  font-weight: bold;
}




#cards {
  background-color: #424242;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 100px;
  padding-bottom: 100px;
}


.plan-card {
  background: #c8b6a6;
  width: 15rem;
  height: 600px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 10px;
  border-bottom: 4px solid #434242;
  padding: 30px;
  font-family: "Poppins", sans-serif;
  margin-right: 75px;
  margin-left: 75px;
}

.plan-card h2 {
  margin-bottom: 15px;
  font-size: 27px;
  font-weight: 600;
}

.plan-card h2 span {
  display: block;
  margin-top: 4px;
  color: #4d4d4d;
  font-size: 12px;
  font-weight: 400;
}

.etiquet-price {
  position: relative;
  background: #fdbd4a;
  width: 14.46rem;
  margin-left: -0.65rem;
  padding: 0.2rem 1.2rem;
  border-radius: 5px 0 0 5px;
}

.etiquet-price p {
  margin: 0;
  padding-top: 0.4rem;
  display: flex;
  font-size: 1.9rem;
  font-weight: 500;
}

.etiquet-price p:before {
  content: "$";
  margin-right: 5px;
  font-size: 30px;
  font-weight: 300;
}

.etiquet-price p:after {
  content: "/ por mes";
  margin-left: 5px;
  font-size: 15px;
  font-weight: 300;
}

.etiquet-price div {
  position: absolute;
  bottom: -23px;
  right: 0px;
  width: 0;
  height: 0;
  border-top: 13px solid #c58102;
  border-bottom: 10px solid transparent;
  border-right: 13px solid transparent;
  z-index: -6;
}

.benefits-list {
  margin-top: 15px;
}

.benefits-list p {
  font-size: 14px;
  text-align: justify;
}

.benefits-list ul {
  padding: 0;
  font-size: 13px;
}

.benefits-list ul li {
  color: #4d4d4d;
  list-style: none;
  margin-bottom: 0.2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.benefits-list ul li svg {
  width: 0.9rem;
  fill: currentColor;
}

.benefits-list ul li span {
  font-weight: 300;
}

.button-get-plan {
  display: flex;
  justify-content: center;
  margin-top: 1.2rem;
}

.button-get-plan a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #434242;
  color: #fff;
  padding: 20px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 0.7rem;
  letter-spacing: 0.05rem;
  font-weight: 500;
  transition: all 0.3s ease;
}

.button-get-plan a:hover {
  transform: translateY(-3%);
}

.button-get-plan .svg-rocket {
  margin-right: 10px;
  width: 0.9rem;
  fill: currentColor;
}

.plan-card {
  background: #c8b6a6;
  width: 15rem;
  height: 600px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 10px;
  border-bottom: 4px solid #434242;
  padding: 30px;
  font-family: "Poppins", sans-serif;
  margin-right: 75px;
}

.plan-card h2 {
  margin-bottom: 15px;
  font-size: 27px;
  font-weight: 600;
}

.plan-card h2 span {
  display: block;
  margin-top: 4px;
  color: #4d4d4d;
  font-size: 12px;
  font-weight: 400;
}

.etiquet-price {
  position: relative;
  background: #fdbd4a;
  width: 14.46rem;
  margin-left: -0.65rem;
  padding: 0.2rem 1.2rem;
  border-radius: 5px 0 0 5px;
}

.etiquet-price p {
  margin: 0;
  padding-top: 0.4rem;
  display: flex;
  font-size: 1.9rem;
  font-weight: 500;
}

.etiquet-price p:before {
  content: "$";
  margin-right: 5px;
  font-size: 30px;
  font-weight: 300;
}

.etiquet-price p:after {
  content: "/ por mes";
  margin-left: 5px;
  font-size: 15px;
  font-weight: 300;
}

.etiquet-price div {
  position: absolute;
  bottom: -23px;
  right: 0px;
  width: 0;
  height: 0;
  border-top: 13px solid #c58102;
  border-bottom: 10px solid transparent;
  border-right: 13px solid transparent;
  z-index: -6;
}

.benefits-list {
  margin-top: 15px;
}

.benefits-list p {
  font-size: 14px;
  text-align: justify;
}

.benefits-list ul {
  padding: 0;
  font-size: 13px;
}

.benefits-list ul li {
  color: #4d4d4d;
  list-style: none;
  margin-bottom: 0.2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.benefits-list ul li svg {
  width: 0.9rem;
  fill: currentColor;
}

.benefits-list ul li span {
  font-weight: 300;
}

.button-get-plan {
  display: flex;
  justify-content: center;
  margin-top: 1.2rem;
}

.button-get-plan a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #434242;
  color: #fff;
  padding: 20px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 0.7rem;
  letter-spacing: 0.05rem;
  font-weight: 500;
  transition: all 0.3s ease;
}

.button-get-plan a:hover {
  transform: translateY(-3%);
  box-shadow: 0 3px 10px rgba(207, 212, 222, 0.9);
}

.button-get-plan .svg-rocket {
  margin-right: 10px;
  width: 0.9rem;
  fill: currentColor;
}

@media (max-width: 1400px) {
  .Home__Body {
    height: 700px;
  }

  .home__Body_Gif_Container {
    height: 700px;
  }

  .home__Body_Gif__Gif {
    height: 700px;
    top: 0px;
  }

}

@media (max-width: 1200px) {
  .Home__Body {
    height: 600px;
  }

  .home__Body_Gif_Container {
    height: 600px;
  }

  .home__Body_Gif__Gif {
    height: 600px;
    top: 0px;
  }

  #carrusel {
    width: 100%;
    height: 70%;
    background-color: #424242;
    padding: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .home__Body_Gif__Content__Titulo {
    width: 300px;
  }


  .home__Body__Content {
    height: 600px;
  }

  .home__Body__Content_container {
    height: 700px;
  }

  .home__Body__Content__Img {
    height: 700px;
  }

  .home__Body__Content__Img_Filtro {
    height: 600px;
  }

  .home__Body__Content__Img__Titulo {
    font-size: 55px;
  }

  .home__Body__Content__Pilar_Titulo {
    font-size: 40px;
  }

  .home__Body__Content__Pilar_texto {
    font-size: 15px;
  }

  .home__Body__Content__Pilar i {
    font-size: 30px;
  }




  .home__Body__Comienza__Img_Filtro {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 715px;
    background-color: #e4190b7e;
  }
  
  .Body__Content__container__content {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    left: 25%;
    right: 25%;
    top: 40%;
    bottom: 40%;
  }

  .plan-card {
    margin-top: 2em;
  }
}


@media (max-width: 1000px) {
  .Home__Body {
    height: 600px;
  }

  .home__Body_Gif_Container {
    height: 600px;
  }

  .home__Body_Gif__Gif {
    height: 600px;
    top: 0px;
  }

  .home__Body_Gif__Content__Titulo_Text {
    font-size: 30px;
  }

  .home__Body_Gif__Content__SubTitulo {
    font-size: 25px;
  }

  .btn_Red {
    width: 162px;
    font-weight: bold;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E41A0B;
    color: white;
    transition: 0.2s;
  }

  .home__Body_Gif__Gif {
    height: 500px;
    top: 0px;
  }

  .home__Body_Gif_Container {
    height: 500px;
  }

  .Body__Content__container__content_text {
    font-size: 25px;
  }

  .Body__Content__container__content_titulo {
    font-size: 60px;
    text-align: center;
  }

  .btn_Red_outline {
    font-size: 35px;
  }

  .home__Body__Content__Img__Titulo {
    font-size: 40px;
  }

  .home__Body__Content__Pilar_Titulo {
    margin-left: 10px;
    font-size: 30px;
  }

  .home__Body__Content__Pilar_texto {
    font-size: 10px;
  }

  .home__Body__Content__Pilar i {
    font-size: 30px;
  }

  .home__Body_Gif__Content__Titulo {
    width: 150px;
  }







  .Home__Body__Comienza {
    width: 100%;
    height: 615px;
  }
  
  .home__Body__Content__container {
    width: 100%;
    height: 615px;
    position: relative;
    overflow: hidden;
  }
  
  .home__Body__Content__container_img {
    width: 100%;
    height: 915px;
    position: absolute;
    z-index: -10;
  }
  
  .home__Body__Comienza__Img_Filtro {
    position: absolute;
    width: 100%;
    height: 615px;
    background-color: #e4190b7e;
  }
  
  .Body__Content__container__content {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    left: 25%;
    right: 25%;
    top: 50%;
    bottom: 40%;
  }
  
  .Body__Content__container__content_text {
    font-size: 20px;
    font-weight: lighter;
  }
  
  .Body__Content__container__content_titulo {
    font-size: 50px;
    font-weight: bold;
  }

  .btn_Red_outline {
    padding: 5px 20px;
    border: 1px solid white;
    background-color: #e4190b00;
    color: white;
    font-size: 20px;
    transition: 0.4s;
  }

  .plan-card {
    margin-top: 2em;
  }
}