<nav class="ms-5 mb-2 mt-5" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/proveedor/lista">Providers</a></li>
    <li class="breadcrumb-item active" aria-current="page">Add</li>
  </ol>
</nav>

<div id="formulario" class="row-mt-10">
  <div class="card col-md-4 mx-auto">
    <div class="card-header">
      <div class="text-header">Add Provider</div>
    </div>
    <div class="card-body">
      <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
        <div class="image-container">
          <img *ngIf="previewUrl" [src]="previewUrl" alt="Previsualización de la imagen" class="rounded" height="155px" width="155px">
          <img *ngIf="!previewUrl" [src]="logo" alt=""  class="placeholder-glow image rounded" height="155px" width="155px">
        </div>
        <!--Foto-->
        <div class="custom-file-input">
          <label for="foto">
            Upload Photo <i class="fa-solid fa-file-image"></i>
            <input type="file" id="logo" name="logo" accept="image/*" [(ngModel)]="logo" (change)="onFileChange($event)" required>
          </label>
          <button *ngIf="previewUrl" class="cancel-btn" (click)="cancelNewImage()"><i class="fa-solid fa-delete-left"></i></button>
        </div>
        <!--nombre-->
        <div class="input">
          <input autocomplete="off" type="text" id="nombre" name="nombre" [(ngModel)]="nombreProvedor" required>
          <label for="nombreProveedor">Provider Name</label>
        </div>
        <!--Telefono-->
        <div class="input">
          <input autocomplete="off" type="number" id="telefono" name="telefono" [(ngModel)]="telefono" required>
          <label for="telefono">Phone</label>
        </div>
        <!--Email-->
        <div class="input">
          <input autocomplete="off" type="email" id="email" name="email" [(ngModel)]="email" required>
          <label for="email">Email</label>
        </div>
        <!--Pais-->
        <div class="input">
          <input autocomplete="off" type="text" id="pais" name="pais" [(ngModel)]="pais" required>
          <label for="pais">Country</label>
        </div>
        <!--Estado-->
        <div class="input">
          <input autocomplete="off" type="text" id="estado" name="estado" [(ngModel)]="estado" required>
          <label for="estado">State</label>
        </div>
        <!--Municipio-->
        <div class="input">
          <input autocomplete="off" type="text" id="municipio" name="municipio" [(ngModel)]="municipio" required>
          <label for="municipio">Municipality</label>
        </div>
        <!--Calle-->
        <div class="input">
          <input autocomplete="off" type="text" id="calle" name="calle" [(ngModel)]="calle" required>
          <label for="calle">Street</label>
        </div>
        <br>
        <div class="botones" style="display: flex;justify-content: flex-end;">
          <!--Crear-->
          <input type="submit" class="btn" value="Save" id="BootonCrear">
        </div>
      </form>
    </div>
  </div>
</div>
<br>