.search {
  background-color: #212429;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  position: relative;
}

.container-input {
  width: 90%;
  max-width: 37.5rem;
}

.input {
  width: 100%;
  padding: 0.625rem 2.5rem 0.625rem 2.5rem;
  border-radius: 9999px;
  border: solid 1px #333;
  transition: all .2s ease-in-out;
  outline: none;
  opacity: 0.8;
}

.container-input .fa-magnifying-glass {
  position: relative;
}

.input:focus {
  opacity: 1;
}

.search-results {
  position: relative;
  top: 100%;
  background-color: #413f3f; 
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}

.search-result {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 10px;
  margin-bottom: 5px;
  transition: background-color 0.5s ease;
}

.search-result:hover {
  background-color: #555;
}

.label {
  font-weight: bold;
}

.text {
  margin-top: 5px;
  font-size: 0.9rem;
}

.search-results.ng-trigger.ng-trigger-fadeInOut {
  opacity: 1;
  visibility: visible;
}