<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <div class="container-fluid">

    <button class="navbar-toggler mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">

      <a class="navbar-brand" href="#">
        <div class="nav_Logo">
          <img src="../../../assets/img/LogoSpartacus.png" alt="Bootstrap" width="250" height="45">
        </div>
      </a>

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a *ngIf="isLogged && isAdmin || isInstructor || isRecepcionista || isUser"
            onmouseover="this.style.color='#DC0000'" onmouseout="this.style.color='white'" class="nav-link"
            routerLink="/clase/lista"><i class="fa-solid fa-person-chalkboard"></i> Class</a>
        </li>
        <li class="nav-item">
          <a *ngIf="isLogged && isAdmin || isInstructor || isRecepcionista " class="nav-link"
            onmouseover="this.style.color='#DC0000'" onmouseout="this.style.color='white'"
            routerLink="/cliente/lista"><i class="fa-solid fa-user-group"></i> Customers</a>
        </li>
        <li class="nav-item">
          <a *ngIf="isLogged && isAdmin || isRecepcionista " onmouseover="this.style.color='#DC0000'"
            onmouseout="this.style.color='white'" class="nav-link" routerLink="/proveedor/lista"><i class="fa-solid fa-truck-field"></i> Providers</a>
        </li>
        <li class="nav-item">
          <a *ngIf="isLogged && isAdmin || isRecepcionista || isUser" onmouseover="this.style.color='#DC0000'"
            onmouseout="this.style.color='white'" class="nav-link" routerLink="/producto/lista"><i class="fa-solid fa-clipboard"></i> Inventory</a>
        </li>
        <li *ngIf="isLogged && isAdmin || isRecepcionista || isUser" class="nav-item">
          <a *ngIf="!isUser" class="nav-link" onmouseover="this.style.color='#DC0000'" onmouseout="this.style.color='white'"
            routerLink="/nuevaVenta"><i class="fa-solid fa-money-check-dollar"></i> Sale</a>
          <a  *ngIf="isUser" class="nav-link" onmouseover="this.style.color='#DC0000'" onmouseout="this.style.color='white'"
            routerLink="/nuevaVenta"><i class="fa-solid fa-money-check-dollar"></i> Buy</a>
        </li>
        <li class="nav-item">
          <a *ngIf="isLogged && isAdmin || isRecepcionista" onmouseover="this.style.color='#DC0000'"
            onmouseout="this.style.color='white'" class="nav-link" routerLink="empelado/lista"><i class="fa-solid fa-users"></i> Employees</a>
        </li>
        <li *ngIf="isLogged && isAdmin || isInstructor || isRecepcionista" class="nav-item">
          <a class="nav-link" onmouseover="this.style.color='#DC0000'" onmouseout="this.style.color='white'"
            routerLink="/chekcIn"><i class="fa-solid fa-user-check"></i> CheckIn</a>
        </li>
      </ul>

      <div class="navbar__login">
        <a *ngIf="!isLogged" class="nav-link" onmouseover="this.style.color='#DC0000'"
        onmouseout="this.style.color='white'" routerLink="/login" id="navbar__Login"><i class="fa-solid fa-right-to-bracket"></i> Login</a>
      </div>

    </div>

    <div class="mb-2" id="navbar__logout">
      <div class="dropdown" *ngIf="isLogged">
        <span id="userDropdown" class="navbar-text dropdown-toggle" style="text-transform: capitalize; font-weight: bold; width: auto;" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-solid fa-user"></i> {{userName}}
        </span>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
          <li><a class="dropdown-item" routerLink="/checkIn-empleado/{{userID}}"><i class="fa-solid fa-user"></i> Profile</a></li>
          <li><a class="dropdown-item" (click)="showModalDialog()"><i class="fa-solid fa-sitemap"></i> Site Map</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#" (click)="logOut()"><i class="fa-solid fa-power-off"></i> Logout</a></li>
        </ul>
      </div>
    </div>

  </div>

</nav>

<p-dialog header="Site Map" [(visible)]="displayModal" [modal]="true" [style]="{width: '80vw'}">
  <div *ngIf="displayModal">
    <p-organizationChart [value]="data" selectionMode="single" [(selection)]="selectedNode" 
    (onNodeSelect)="onNodeSelect($event)">
      <ng-template let-node pTemplate="default">
        <div class="node-header">{{node.label}}</div>
        <div class="node-content">
          <i [ngClass]="node.data.icon"></i>
        </div>
      </ng-template>
      <ng-template let-node pTemplate="leaf">
        <div class="node-header">{{node.label}}</div>
        <div class="node-content">
          <i [ngClass]="node.data.icon"></i>
        </div>
      </ng-template>
    </p-organizationChart>
  </div>
</p-dialog>